__pycache__/
py/*.prof

/old_files
/.venv
/logs
/mypy.ini
/.pylintrc
.idea/
*.egg-info
*.egg-info*
build/*
.coverage
coverage.xml
.tox/*
stats.prof
.vs
stats.prof
src/skullgirls_frame_data_parse.egg-info
